html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #dadbbd;
}
button {
  border: #ec6e41 solid 1px;
  border-radius: 5px;
  background: white;
  margin: 5px;
  color: #ec6e41;
}
#__next {
  min-height: 100vh;
  min-width: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgprime {
  background-color: #151d3b;
}
