.product {
    border: 1px;
    border-style: solid;
    border-color: #006670;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  .custom-search-input {
    margin-right: 8px;
  }
  
  .custom-search-button {
    margin-left: 8px;
  }
  .empty_basket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
  }
  .product_button {
    border: #ec6e41 solid 1px;
    border-radius: 5px;
    background: white;
    margin: 5px;
    color: #ec6e41;
  }
  
  .product_button:hover {
    color: white;
    background: #ec6e41;
  }
  
  .link_more {
    color: #ec6e41;
  }
  
  .product p {
    margin-bottom: auto;
  }
  
  .b_content {
    margin-left: 170px;
    margin-right: 170px;
  }
  
  .comment {
    border: 1px;
    border-style: solid;
    border-color: #006670;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .logoimg {
  width: 100px; /* Задайте необходимую ширину логотипа */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций */
}
  .comment p {
    margin-bottom: 2px;
  }
  
  .part_img_div {
    margin-right: 100px;
  }
  